<div class="container">

    <!-- Heading Row -->

    <div class="row align-items-center my-5">

      <div class="col-lg-5">

        <img class="img-fluid rounded border border-info mb-4 mb-lg-0" src="assets/meta-logo.png" alt="Meta Image...Loading" >

      </div>

      <!-- /.col-lg-8 -->

      <div class="col-lg-7 border border-success">

        <h1 class="font-weight-light">World’s #1 Online Bootcamp</h1>

        <p>1,000,000 careers advanced <br>

            1,000 live classes every month <br>

            85% report career benefits including promotion or a new job</p>

        <a class="btn btn-primary" href="#">Explore Programs</a>
        <br/><br/>

      </div>

      <!-- /.col-md-4 -->

    </div>

    <!-- /.row -->

    <!-- Call to Action Well -->

    <div class="card text-white bg-primary rounded border my-5 py-4 text-center">

      <div class="card-body">

        <p class="text-white m-0" style="font-size: xx-large;">Get Certified, Get Ahead with Our Programs</p>

      </div>

    </div>
